/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.text-center {
  text-align: center;
}

/* Header */
header {
  background-color: #27539A;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Navigation */
nav.navbar {
  margin-bottom: 20px;
}

.navbar-nav {
  margin: 0 auto;
}

.navbar-brand {
  font-size: 24px;
}

.navbar-toggler {
  border: none;
}


main {
  padding: 40px 0;
}

section h2 {
  margin-bottom: 20px;
}

section p {
  margin-bottom: 40px;
}



section.row {
  padding: 40px 0;
}

section.row img.section-image {
  max-width: 100%;
  height: 200px; 
  object-fit: cover;
}

section.row .col-sm-6:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center; 
}

section.row .col-sm-6:last-child .image-container {
  text-align: right; 
}

section.row .col-sm-6:last-child img {
  max-width: 100%;
  height: auto; 
}


/* Footer */
footer {
  background-color: #F8F9FA;
  padding: 20px 0;
}

footer h4 {
  margin-bottom: 20px;
}

footer p {
  margin-bottom: 10px;
}
